## Collections

In [1]:
from collections import Counter

In [2]:
my_list = [1,3,2,3,1,3,2,1,3,2,1,3,3,1,2,2,1,3]

In [3]:
Counter(my_list)

Counter({1: 6, 3: 7, 2: 5})

In [4]:
set(my_list)

{1, 2, 3}

In [5]:
from collections import defaultdict

In [6]:
d = defaultdict(lambda: 0)

In [7]:
d['correct'] = 100

In [8]:
d['WTF']

0

In [9]:
from collections import namedtuple

In [10]:
mytuple = (10,20,30)

In [11]:
Dog = namedtuple("Dog",['age','breed','name'])

In [12]:
sammy = Dog(5,'Husky',"Sam")

In [13]:
sammy

Dog(age=5, breed='Husky', name='Sam')

In [3]:
## DateTime

In [4]:
import datetime

In [5]:
mytime = datetime.time(2,12)

In [6]:
print(mytime)

02:12:00

In [7]:
today = datetime.date.today()

In [8]:
print(today)

2021-06-22

In [9]:
from datetime import datetime

In [11]:
fulldate = datetime(2021,10,3,12,20,12,23)

In [12]:
print(fulldate)

2021-10-03 12:20:12.000023

In [13]:
fulldate = fulldate.replace(hour = 9)

In [15]:
print(fulldate)

2021-10-03 09:20:12.000023

In [16]:
from datetime import date

In [17]:
date1 = date(2021, 10, 3)
date2 = date(2019, 6, 30)

In [19]:
result = date2 - date1

In [20]:
result.resolution

datetime.timedelta(microseconds=1)

In [22]:
datet1 = datetime(2021,10,4,12,4)
datet2 = datetime(2021,1,4,15,4)

In [23]:
diff = datet2 - datet1

In [24]:
print(diff)

-273 days, 3:00:00

bdfd

## Math module

In [25]:
import math

In [29]:
value = 6.5
print(round(value))
print(round(value+1))

6
8

In [27]:
math.ceil(value)

7

In [28]:
math.floor(value)

6

In [30]:
import random

In [42]:
random.seed(100)
print(random.randint(1,100))
print(random.randint(1,100))
print(random.randint(1,100))
print(random.randint(1,100))
print(random.randint(1,100))

19
59
59
99
23

In [44]:
mylist = [x for x in range(20)]

In [45]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
random.choices(population=mylist, k = 10)

[14, 14, 8, 16, 10, 1, 9, 0, 18, 18]

In [47]:
random.sample(population=mylist, k = 10)

[10, 7, 9, 6, 5, 2, 3, 15, 12, 19]